#form-container {

  display: block;
  margin: auto;

  background-color: white;

  max-width: 18em;
  max-height: 19em;
  padding: 3em;
  border-radius: 2rem;
}

input, select, button {
  height: 2em;
  width: 20em;

  margin-bottom: 0.5em;

  border: solid 1px grey;
  border-radius: 0.5rem;
}

select {
  width: 12em;
}

button {
  background-color: #D75F4C;
  color: white;

  width: 7em;
  font-weight: 600;

  margin-top: 0.5em;
  border-radius: 0.8rem;
}


