table {
  border: solid 2px black;
  border-collapse: collapse;
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.th-title {
  background-color: rgb(228 240 245);

  padding: 0.6em;
}

td > button {
  margin-left: 5px;

  cursor: pointer;
}

th, td {
  border: 1px solid black;
  padding: 0.6em;
}

caption {
  caption-side: bottom;
  font-weight: 600;

  padding: 0.6em;
}